extends layout

block content
  include includes/post_message_form

  section.bg-dark.p-md-4.flex-grow-1
    if user 
      include includes/post_message_btn
    for message in messages
      div.container-md.bg-gray.rounded.p-4.col-12.col-md-6.mt-4.shadow.text-light
        div.row.mb-3
          div.col-1
            img.border.border-primary.rounded-circle.bg-light.p-1(src=`images/avatars/${message.user.avatar}.svg`, alt="User's avatar", width="48px")
          if user && (user.membership || user.is_admin)
            div.col-11.d-flex.justify-content-between
              div
                span.h6.fw-bold.row.mb-0= message.user.first_name
                div#clock_icon
                  i.bi.bi-clock-fill.row.align-items-center.me-0
                  span.col.fst-italic=message.timestamp_formatted
              div 
                form(action=`/delete_message` method='POST')
                  input.form-control(type="hidden" name='messageID' value=message._id)
                  button.btn.btn-danger(type='submit')
                    i.bi.bi-trash-fill 
          else
            div.col-11
              span.h6.fw-bold.row.mb-0 Anonymous
              div#clock_icon
                i.bi.bi-clock-fill.row.align-items-center.me-0
                span.col.fst-italic Unknown
        div.row
          span.h2.fw-bold= message.title
          section.bg-lightgray.shadow.py-3.rounded-3
            span= message.text
      
    if errors
      ul.list-unstyled.mt-2
        for error in errors
          li.text-danger.fw-bold * !{error.msg}